<mat-card class="list-card">
  <mat-card-header>
    <mat-card-title>{{ list.name }}</mat-card-title>
    <button mat-icon-button color="warn" (click)="deleteList()" [disabled]="isLoading" class="delete-button" aria-label="Delete list">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-header>

  <mat-card-content>
    <div class="task-count">
      <span>{{ (tasks$ | async)?.length || 0 }} tasks {{list.id}}</span>
    </div>

    <div class="tasks-container fade-in">
      <!-- Add task form -->
      <form (ngSubmit)="addTask()" class="add-task-form">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>New Task</mat-label>
          <input matInput [formControl]="newTaskText" placeholder="Enter task">
<!--          <mat-error *ngIf="newTaskText.invalid">Task text is required</mat-error>-->
        </mat-form-field>
        <button 
          mat-mini-fab 
          color="primary" 
          type="submit" 
          [disabled]="newTaskText.invalid || isLoading"
          aria-label="Add task">
          <mat-icon>add</mat-icon>
        </button>
      </form>

      <!-- Tasks list -->
      <mat-list class="tasks-list">
        <div *ngIf="(tasks$ | async)?.length === 0" class="empty-tasks">
          <p>No tasks in this list yet.</p>
        </div>

        <mat-list-item *ngFor="let task of tasks$ | async" class="task-item" [class.completed]="task.completed">
          <mat-checkbox 
            [checked]="task.completed" 
            (change)="toggleTaskCompletion(task.id)"
            color="primary">
            {{ task.text }}
          </mat-checkbox>

          <button mat-icon-button color="warn" (click)="deleteTask(task.id_table)" [disabled]="isLoading" class="delete-task-button" aria-label="Delete task">
            <mat-icon>close</mat-icon>
          </button>
        </mat-list-item>
      </mat-list>
    </div>
  </mat-card-content>
</mat-card>
