<div class="budget-item" [ngClass]="{'income': isIncome, 'expense': !isIncome}">
  <div class="item-content">
    <div class="item-details">
      <span class="item-name">{{ item.name }}</span>
      <span class="item-date">{{ item.date | date:'dd.MM.yyyy' }}</span>
    </div>
    <span class="item-amount" [ngClass]="{'positive': isIncome, 'negative': !isIncome}">
      {{ item.amount | currency:'₸':'symbol':'1.2-2' }}
    </span>
  </div>
  
  <button mat-icon-button color="warn" (click)="onDelete()" class="delete-button" aria-label="Delete item">
    <mat-icon>delete</mat-icon>
  </button>
</div>